.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.page .page__content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1360px;
    padding: 0 20px;
    margin: 0 auto;
}